.loader {
  display: flex;
  justify-content: center;
  img {
    width: 48px;
    opacity: 0.5;
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
