.dictionaryContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.firstSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;

  .rightSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.dropDown {
  padding: 13px;
  position: relative;
  .dropdown-label {
    margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #2d2d2d;
    &:hover {
      cursor: pointer;
    }
  }
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border-left: 1px solid #e9e9e9;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  margin-bottom: 42px;
}

.searchWord {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 67px;
  color: #2d2d2d;
}

.iconPlay {
  height: 75px;
  width: 75px;
  object-fit: cover;
  &:hover {
    cursor: pointer;
    background: #a445ed;
  }
}

.phonetic {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #a445ed;
}

.description {
  margin-bottom: 40px;
  .meaningDetails {
    display: flex;
    flex-direction: column;
  }
  .synonyms {
    display: flex;
    justify-content: flex-start;
    .synonymTitle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin-right: 12px;
      color: #757575;
    }
    .synonymValue {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #a445ed;
    }
  }
}

.grammar {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  color: #2d2d2d;
  margin-bottom: 43px;
}

.grammar:after {
  content: '';
  border: 0.5px solid #e9e9e9;
  margin-left: 32px;
  width: 100%;
}

.meaningTitle {
  display: flex;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #757575;
}

.meanings {
  li {
    text-align: left;
    word-break: break-word;
    margin-bottom: 13px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2d2d2d;
  }
}

.footer {
  text-align: left;
  margin-bottom: 20px;
  .source {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #757575;
    margin-right: 21px;
  }
  .sourceUrl {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #2d2d2d;
  }
}
